<div class="container-fluid">

  <!-- Page header  -->
  <div class="content-header clearfix">
    <!-- Page title -->
    <div class="col-xs-12 col-sm-8">
      <h1>DASHBOARD</h1>
    </div>
    <!-- end of Page title -->
  </div><!-- end of Page header -->

  <div class="row">
    <!-- Beautiful chart  -->
    <div class="col-xs-12 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i><a href="#/chart">Some beautiful chart</a>
        </div>
        <div class="panel-body">
          <div id='chart'></div>
        </div>
      </div>
    </div><!-- End of beautiful chart  -->

    <!-- Widget with some info  -->
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-default info-widget">
        <div class="panel-heading">
          <i class="fa fa-info-circle fa-fw"></i><a href="#/info">Information</a>
        </div>
        <div class="panel-body">
          <p>Very useful info</p>
        </div>
      </div>
    </div><!-- End of widget with some info  -->
  </div>

  <div class="row">
    <!-- Calculator  -->
    <div class="col-xs-12 col-sm-8">
      <calculator></calculator>
    </div><!-- End of calculator  -->

    <!-- Widget with some info  -->
    <div class="col-xs-12 col-sm-4">
      <result></result>
    </div><!-- End of beautiful chart  -->
  </div>

</div>
